includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Relations\\Pivot\:\:\$\w+\.$#'
        - '#^Access to an undefined property App\\Models\\Stock\:\:\$quantity\.$#'
        - '#Call to an undefined method Illuminate\\Support\\HigherOrder#'
    excludePaths:
        - app/Actions
#
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
