@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.multiselect__input {
    @apply px-3 py-2 border border-gray-200 rounded-lg focus:border-emerald-300 focus:ring focus:ring-emerald-200 focus:ring-opacity-50 mb-0;
    border-radius: .5rem !important;
    margin-bottom: 0 !important;
    padding: .5rem 1rem !important;
}
